# {{ ansible_managed }}

export OS_PROJECT_DOMAIN_NAME=Default
export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_NAME={{ keystone_admin_tenant_name }}
export OS_USERNAME={{ keystone_admin_user_name }}
export OS_PASSWORD={{ keystone_admin_password }}
export OS_AUTH_URL={{ keystone_service_publicuri }}
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2
