[Unit]
Description=OpenStack Dimsagent API Server
After=syslog.target network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python /usr/bin/dimsagent-api --config-file /etc/dimsagent/dimsagent-api.conf
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
