default introspect

label introspect
kernel ironic-agent-x86.kernel
append initrd=ironic-agent-x86.initramfs ipa-inspection-callback-url=http://{{ ironic_tftp_server_address }}:{{ ironic_inspector_service_port }}/v1/continue ipa-inspection-collectors=default,logs,pci-devices systemd.journald.forward_to_console=yes coreos.autologin ipa-collect-lldp=True

ipappend 2
