[train]
name=train
baseurl=http://119.3.219.20:82/openEuler:/22.03:/LTS:/SP1:/Epol:/Multi-Version:/OpenStack:/Train/standard_$basearch/
enabled=1
gpgcheck=0

[epol]
name=epol
baseurl=http://119.3.219.20:82/openEuler:/22.03:/LTS:/SP1:/Epol/standard_$basearch/
enabled=1
gpgcheck=0

[everything]
name=everything
baseurl=http://119.3.219.20:82/openEuler:/22.03:/LTS:/SP1/standard_$basearch/
enabled=1
gpgcheck=0
