[epol]
name=epol
baseurl=http://119.3.219.20:82/openEuler:/22.09:/Epol/standard_aarch64
enabled=1
gpgcheck=0

[everything]
name=everything
baseurl=http://119.3.219.20:82/openEuler:/22.09/standard_aarch64/
enabled=1
gpgcheck=0
